@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nanum+Gothic&display=swap');

.input-group > input {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: rgb(241, 233, 206);
    background-clip: padding-box;
    border: 1px solid rgb(117, 177, 120);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 3px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-family: 'Montserrat';
    width: 221px;
  }
  
  .input-group > label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(72, 131, 75);;
    letter-spacing: 0.5px;
    font-family: 'Montserrat';
  }
  
  .input-group > label > span:nth-child(2) {
    color: rgb(210, 21, 21);
  }
  
  .input-group > input:focus {
    color: #212529;
    background-color:rgb(241, 233, 206);;
    border-color: rgb(72, 131, 75);;
    outline: 0;
    box-shadow: 0 0 10px 0.25rem rgb(72, 131, 75);;
  }
  